{% extends "base.html" %}
{% block title %}Emails{% endblock %}
{% block body %}
<div class="inner emails-body fade-in fade-two">
	<div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
	<h1>Staff Edumail Email Addresses</h1>
	<div>Please note that not all teachers use/check their Edumail emails. This list is supplied as a reference, and not a replacement for not being bothered to ask your teacher what their email is.</div>
	<br>
	<div class="small"><span style="line-height: 1.4;">{{ needemails|e }}</span></div>
	<div class="small">
		{% for email in emails|sort(attribute="local") %}
		<div><a href="mailto:{{ email.local }}@edumail.vic.gov.au">{{ email.local }}<span class="email">@edumail.vic.gov.au</span></a>{{ " " + email.notes|e if email.notes }}</div>
		{% endfor %}
	</div>
</div>
{% endblock %}